<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HTTP Only Cookie</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item" *ngIf="(userInfo?.id ?? '') === ''">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="(userInfo?.id ?? '') !== ''">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      </ul>
      <ul class="d-flex navbar-nav" *ngIf="(userInfo?.id ?? '') !== ''">
        <li class="nav-item">
          <a class="nav-link" active>{{ userInfo?.email }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>